* {
    margin: 0;

}
body {
background: black;
}
.mt30 {
 margin: 30px;
}

.heading h3 {
    color: white;
}
.red-btn {
    padding: 15px;
    background:  #b90000;
    color: white;
    border-radius: 4px;
}